@charset "utf-8";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

/* header wrap 꾸미기 */
header .slider_box {
  width: 100%;
  height: 90vh;
  /* background-color: #333; */
  display: block;
  margin: 0 auto;
}

header .slider_box .slider {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 25%;
  background-image: url(../img/header2_1.jpeg);
  transition: background-image 1s;
  position: relative;
}

header .slider_box .wrap {
  width: 1200px;
  height: 60px;
  /* background-color: #777; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header .slider_box .wrap .logo {
  margin-top: 100px;
}
header .slider_box .wrap .logo a {
}
header .slider_box .wrap .logo a img {
  display: block;
  width: 200px;
}
header .slider_box .wrap .menu {
  /* background-color: red; */
  color: rgba(234, 234, 66, 0.873);
}

header .slider_box .wrap .menu.menu_color {
  /* color: rgb(255, 187, 0); */
  /* color: rgb(0, 102, 255); */
  color: orange;
}
header .slider_box .wrap .menu ul {
  display: flex;
}
header .slider_box .wrap .menu ul li {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
}
header .slider_box .wrap .login {
  align-items: center;
  margin-top: 100px;
}
header .slider_box .wrap .login ul {
  display: flex;
}
header .slider_box .wrap .login ul li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}
header .slider_box .welcome {
  text-align: center;
  margin: 80px auto;
  /* background: linear-gradient(180deg, #cdcccc, #a3a3a3); */
}
header .slider_box .welcome .welcome_nav {
  width: 65%;
  margin: 0 auto;
  color: #fff;
  /* background-color: #fff; */
  /* position: relative; */
}
header .slider_box .welcome .welcome_nav.nav_right {
  position: absolute;
  right: 20px;
}
header .slider_box .welcome .welcome_nav h3 {
  font-size: 1.6rem;
}
header .slider_box .welcome .welcome_nav h1 {
  font-size: 3rem;
  margin-top: 15px;
}

/* main */
main .wrap2 {
  width: 90%;
  /* height: 50vh; */
  /* background-color: #888; */
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #666; */
}
main .wrap2 .title {
  width: 25%;
  /* background-color: #aff; */
  font-size: 2rem;
}
main .wrap2 .title h3 span {
  text-decoration: underline;
  text-decoration-color: #faa;
  text-decoration-thickness: 10px;
  text-underline-offset: -2px;
}

main .wrap2 .reasons {
  width: 75%;
  display: flex;
  flex-direction: row;
  /* background-color: #ffa; */
  text-align: center;
  font-size: 1.4rem;
}
main .wrap2 .reasons > div {
  width: calc(100% / 3 - 60px);
  /* background-color: #aaf; */
  margin: 0 30px;
}
main .wrap2 .reasons > div h5 {
  margin-top: 10px;
}

main .wrap2 .reasons > div.reason1 {
  text-align: center;
  /* background-color: #faa; */
}
main .wrap2 .reasons > div > a > div {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 200px;
}
main .wrap2 .reasons > div.reason1 a .img1 {
  background-image: url(../img/main_1.jpeg);
}
main .wrap2 .reasons > div.reason2 a .img2 {
  background-image: url(../img/main_2.jpeg);
}
main .wrap2 .reasons > div.reason3 a .img3 {
  background-image: url(../img/main_3.jpeg);
}
main .wrap2 .reasons > div.reason2 h5,
main .wrap2 .reasons > div.reason3 h5 {
  margin-top: 5px;
}

/* section .diff */
section#diff {
  background-color: #f4f6f9;
  padding-top: 20px;
  padding-bottom: 20px;
}
section .diff {
  width: 70%;
  /* background-color: #666; */
  margin: 20px auto 20px;
}
section .diff h3 {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}
section .diff h3 span {
  text-decoration: underline;
  text-decoration-color: #faa;
  text-decoration-thickness: 10px;
  text-underline-offset: -2px;
}
section .diff ul li {
  height: 150px;
  display: flex;
  /* background-color: #aff; */
  margin: 10px 0;
  align-items: center;
  border: 1px solid #fff;
  background-color: #fff;
}
section .diff ul li:hover {
  border: 7px solid #a2ebf0;
}
section .diff ul li div {
  width: 64px;
  height: 64px;
  /* background-color: #aaf; */
  display: flex;
  align-content: center;
  margin: 0 30px;
}
section .diff ul li nav {
  margin-top: 20px;
}
section .diff ul li nav h5 {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
section .diff ul li nav p {
  margin: 10px 0;
}

/* section  wrap3 */
section .wrap3 {
  width: 100%;
  height: 60vh;
  /* background-color: #666; */
  margin: 0 auto;
  margin-bottom: 60px;
}
section .wrap3 .test_img {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}
section .wrap3 .test_img::after {
  width: 100%;
  height: 100%;
  content: "";
  background: url(../img/test1.png);
  position: absolute;
  top: 0;
  left: 0;
  background-position: 200% 58%;
  z-index: -1;
  opacity: 0.7;
}
section .wrap3 .test_img h3 {
  padding-top: 20px;
  font-size: 1.5rem;
}
section .wrap3 .test_img h3 span {
  text-decoration: underline;
  text-decoration-color: #faa;
  text-decoration-thickness: 10px;
  text-underline-offset: -2px;
}
section .wrap3 .test_img .click {
  width: 30%;
  height: 100px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  right: 0;
  /* background-color: #ffa; */
}
section .wrap3 .test_img .click h2 {
  margin-bottom: 40px;
}
section .wrap3 .test_img .click .sentence p {
  margin: 10px 0;
}
section .wrap3 .test_img .click button {
  width: 120px;
  height: 40px;
  margin-top: 20px;
  color: #fff;
  border-radius: 15px;
  border: 1px solid red;
  background-color: red;
  cursor: pointer;
}

/* online_title */
#online_title {
  position: relative;
  /* background-color: #ffa; */
}
#online_title .online {
  width: 80%;
  margin: 0 auto;
  /* background-color: #faa; */
  padding: 15px 0;
  margin-bottom: 8px;
  font-size: 2rem;
}
#online_title .online span {
  text-decoration: underline;
  text-decoration-color: #faa;
  text-decoration-thickness: 10px;
  text-underline-offset: -2px;
}
/* arrow */
#online_title .arrow {
  font-size: 1.5rem;
  color: #000;
  display: flex;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}
#online_title .arrow button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
#online_title .arrow button:hover {
  background-color: #888;
  color: #fff;
}
#online_title .arrow .arrow_prev {
  margin-left: 7px;
}
#online_title .arrow .arrow_next {
  margin-left: 7px;
}

/* 온라인 강의 슬라이드 */
#slider_all {
  width: 100%;
  height: 500px;
  background-color: #f4f6f9;
  display: flex;
  align-items: center;
}
#slider_box {
  width: 300px;
  height: 400px;
  padding: 10px 0;
  margin-left: 110px;
  /* background-color: #aaa; */
}
#slider_box .slider {
  width: 700%;
  height: 100%;
  padding: 10px 0;
  /* background-color: #aff; */
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 100%; */
}
#slider_box .slider.prev {
  transition: margin-right 0.5s;
}
#slider_box .slider.next {
  transition: margin-left 0.5s;
}
#slider_box .slider .slide {
  width: calc(100% / 7 - 20px);
  height: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px dashed orangered; */
  background-color: #fff;
  border-radius: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
#slider_box .slider .slide:hover {
  box-shadow: 5px 5px 30px;
}
#slider_box .slider .slide h5 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
#slider_box .slider .slide p {
  font-size: 1.7rem;
}
#slider_box .slider .slide .level {
  margin-top: 25px;
  font-size: 2rem;
}
